:root {
    --bg-color: #353535;
    --front-color: #00d1b2;
    --danger-color: #b31d12;
}

input {
    outline: none;
    -webkit-box-flex: 18;
    flex-grow: 18;
    border-width: 0px;
    font-size: 20px;
    padding-left: 7px;
    background-color: var(--bg-color);
    color: white;
    border-color: var(--bg-color);
}

.field {
    width: 100%;
    min-height: 40px;
    height: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: var(--bg-color);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 1px black;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    font-family: consoles;
    -webkit-transition: border-color 0.5s;
    transition: border-color 0.5s;
}

.field:hover, .field:focus-within {
    border-color: var(--front-color);
}

.fynd-btn {
    padding: 10px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    border-width: 1px;
    border-color: var(--front-color);
    background-color: #252525;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: consoles;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.fynd-btn:hover {
    background-color: var(--front-color);
}

.danger-field {
    padding: 10px;
    height: 100%;
    border-color: var(--danger-color);
    background-color: var(--danger-color);
}

.danger-field:hover {
    border-color: var(--danger-color);
    background-color: var(--danger-color);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--front-color);;
}